<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form class="form" action="result" method="post">
        <label for="Name">Name: </label>
        <input type="text" id="name" name="name">

        <br><br>

        <label for="Location">Location: </label>
        <select type="text" id="Location" name="location">
            <option value=null>Select One</option>
            <option value="Chicago">Chicago</option>
            <option value="DMV">DMV</option>
            <option value="Tulsa">Tulsa</option>
        </select>

        <br><br>

        <label for="FavLanguage">Favorite Language: </label>
        <select type="text" id="FavLanguage" name="favlanguage">
            <option value=null>Select One</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
        </select>

        <br><br>

        <label for="Comment">Comment (optional): </label>
        <textarea type="text" id="Comment" name="comment" rows="5"></textarea>
            
        <br><br>
        
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>