@using System.ComponentModel.DataAnnotations
@model DojoSurvey.Models.Survey;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <div>
    <form class="form" asp-action="result" method="post">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name">Name: </label>
        <input asp-for="Name" type="text">

        <br><br>

        <span asp-validation-for="Location"></span>
        <label asp-for="Location">Location: </label>
        <select asp-for="Location">
            <option value=null>Select One</option>
            <option value="Chicago">Chicago</option>
            <option value="DMV">DMV</option>
            <option value="Tulsa">Tulsa</option>
        </select>

        <br><br>

        <span asp-validation-for="FavoriteLanguage"></span>
        <label asp-for="FavoriteLanguage">Favorite Language: </label>
        <select asp-for="FavoriteLanguage">
            <option value=null>Select One</option>
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
        </select>

        <br><br>

        <span asp-validation-for="Comment"></span>
        <label asp-for="Comment">Comment (optional): </label>
        <textarea asp-for="Comment"></textarea>
            
        <br><br>
        
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>