<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <h3>Submited Info:</h3>
    <table>
        <tr><td>Name: </td><td>@ViewBag.Name</td></tr>
        <tr><td>Location: </td><td>@ViewBag.Location</td></tr>
        <tr><td>Favorite Language: <td>@ViewBag.FavLanguage</td></tr>
        <tr > <td>Comment: <td>@ViewBag.Comment</td></tr>
    </table>
</body>
</html>